<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="dismiss()">
      Close
    </ion-buttons>
    <ion-title>Select Sensor Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-row>
    <ion-col>
      <ion-list *ngIf="listToggle">
        <ion-item *ngFor="let i of pairedList;let j=index" (click)="onClickDevice(j)">
          
          <ion-thumbnail slot="end">
            <img src="../../assets/img/{{i.name}}.jpg">
          </ion-thumbnail>
          <ion-label>{{i.name}}</ion-label>
          
          <!--ion-button slot="end" *ngIf="listToggle" (click)="presentAlertConfirm(j)"><ion-icon name="add-outline"></ion-icon></ion-button-->
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
