<ion-header [translucent]="true">
    <ion-toolbar>
        <img slot="start" alt="logo" id="header_logo" src="../../../assets/icon/Untitled-6.png">
        <ion-title class="text-center">
            {{ namePage }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>