#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    strong {
        font-size: 20px;
        line-height: 26px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        color: #8c8c8c;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
}

#header_logo {
    width: 16vw;
    margin-left: 1vw;
}

.text-center {
    text-align: center;
    color: #293241;
}

@media only screen and (max-width: 600px) {
    #header_logo {
        width: 24vw;
        margin-left: 4vw;
    }
}