<app-header-container namePage="Report Pollution"></app-header-container>
<ion-content [fullscreen]="true">
    <form [formGroup]="form" (ngSubmit)="onClickSubmitBtn()">
        <ion-item lines="none" class="takePhotoBox">
            <img *ngIf="!firstTakePhoto" [src]="b64Image" id="camera-image" (click)="takePhoto()" />
            <div *ngIf="firstTakePhoto" (click)="takePhoto()" class="camera-box">
                <ion-icon name="camera"></ion-icon>
            </div>
        </ion-item>
        <ion-item lines="none">
            <ion-select formControlName="polType" class="inputStyle w-100" placeholder="-- Please select Category --">
                <ion-select-option *ngFor="let o of causes">
                    {{o.problem}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="none">
            <!-- <ion-label position="stacked">Detail</ion-label> -->
            <ion-textarea formControlName="polDesc" class="inputStyle" placeholder="Detail..."></ion-textarea>
        </ion-item>
        <ion-item lines="none">
            <ion-button class="btnStyle" [disabled]="!validdateData()" expand="full" shape="round" type="submit">Submit</ion-button>
        </ion-item>
    </form>
</ion-content>