$blue: #3d5a80;
$orange:#ee6c4d;
$light-black: #a0a2a58f;
ion-content ion-toolbar {
    --background: translucent;
}

.invalid {
    border: red 1px solid;
}

.valid {
    border: green 1px solid;
}

ion-item {
    margin: 2vw 0px;
    &.takePhotoBox {
        height: 50vh;
        #camera-image {
            width: 100%;
        }
        .camera-box {
            text-align: center;
            width: 100%;
            height: 50vh;
            font-size: 50px;
            border: 1px solid $light-black;
            ion-icon {
                margin-top: 20vh;
                background: $orange;
                color: white;
                padding: 2%;
                border-radius: 55%;
            }
        }
    }
    .inputStyle {
        border: 1px solid $light-black;
        padding: 2vw;
        max-width: none;
        width: 100%;
    }
}