.topBanner {
    height: 40vw;
    width: 100%;
}

.info-box {
    padding: 2% 0;
    border-bottom: solid 1px #e1e1e1;
    background: none;
    width: 100%;
    text-align: left;
    ion-label {
        display: inline-block;
        margin-top: 5vh;
        padding-left: 2vw;
        vertical-align: top;
        font-size: 18px;
        color: #000;
         :hover {
            color: white;
        }
    }
    // background: #6094e2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}