<app-header-container namePage="Knowledge"></app-header-container>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <img class="topBanner" src={{bannerInformation}}>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let info of links">
            <ion-col>
                <button class="info-box" (click)="openWeb(info.url , info)">
                    <ion-row>
                        <ion-col size="7">
                            <ion-label floating>{{info.text}}
                            </ion-label>
                        </ion-col>
                        <ion-col size="5">
                            <img  src= "../../assets/banner/{{info.detailInformation}}">
                        </ion-col>
                    </ion-row>

                </button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>