.search-box {
    position: absolute;
    background-color: #ffffff12;
    width: 80%;
    left: 10%;
    top: 1%;
    z-index: 5;
}

#mapcontainer,
#mapcontainer2 {
    width: 100%;
    height: 100%;
}

.disabledDisplay {
    display: none;
}

.showDisplay {
    display: block;
}

.detailBoxLocation {
    position: relative;
    &#geoListShow {
        display: none;
    }
    .detailBox,
    .detailBox2 {
        position: absolute;
        bottom: 5px;
        left: 5%;
        max-height: 35vh;
        width: 90%;
        background: rgb(41, 50, 65);
        background: linear-gradient(324deg, rgba(41, 50, 65, 1) 0%, rgba(61, 90, 128, 1) 46%, rgba(152, 193, 217, 1) 87%, rgba(224, 251, 252, 1) 100%);
        z-index: 5;
        color: #e0fbfc;
        border: 1px solid #b8b8b8;
        border-radius: 50px;
        height: 17vh;
        border-radius: 20px;
        #chartdiv,
        #chartdiv2 {
            width: 100%;
        }
        .detail {
            margin-top: 2%;
            .remindColorGreen {
                color: #5cc93d;
            }
            .remindColorYellow {
                color: #ffff59;
                // text-shadow: 2px 2px #ffd400;
            }
            .remindColorRed {
                color: #ec3223;
            }
            .remindColorRedDark {
                color: #bf001e;
            }
            &.mt-0 {
                margin-top: 6%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .detailBoxLocation {
        .detailBox,
        .detailBox2 {
            min-height: 17vh;
            border-radius: 15px;
            #chartdiv2 {
                margin-top: -2vh;
            }
            .detail {
                margin-top: 0%;
            }
        }
        .detailBox2 {
            min-height: 15vh !important;
            height: 15vh;
            #chartdiv {
                margin-top: -3vh;
            }
        }
    }
}