<ion-searchbar *ngIf="countryPage" #searchValue class="search-box" showCancelButton="focus" (ionInput)="searchLocationMAp(searchValue.value,$event)" placeholder="Filter Schedules">
</ion-searchbar>
<div *ngIf="countryPage" id="mapcontainer"></div>
<div *ngIf="!countryPage" id="mapcontainer2"></div>
<div *ngIf="!countryPage" class="detailBoxLocation" id="geoListShow2">
    <ion-grid class="detailBox">
        <ion-row>
            <ion-col size="6">
                <div id="chartdiv2"></div>
            </ion-col>
            <ion-col size="6" class="detail">
                <p>Your Device: <span id="getLevSpan2"></span></p>
                <p>Please: <span class="remindColor{{remindColor}}">{{recommendMsg}}</span></p>
                <p>Safe to stay: <span>{{time|async}}</span></p>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<div *ngIf="countryPage" class="detailBoxLocation" id="geoListShow">
    <ion-grid class="detailBox2">
        <ion-row>
            <ion-col size="6">
                <div id="chartdiv"></div>
            </ion-col>
            <ion-col size="6" class="detail mt-4">
                <p>Your Device: <span id="getLevSpan"></span></p>
                <p>Please: <span class="remindColor{{remindColor}}">{{recommendMsg}}</span></p>
            </ion-col>
        </ion-row>
    </ion-grid>

</div>