<ion-tabs>

    <ion-tab-bar class="tab-box" slot="bottom">
        <ion-tab-button tab="countryMapTab">
            <img class="icon-menu" src="../../assets/icon/earth.png">
        </ion-tab-button>

        <ion-tab-button tab="KnowledgeTab">
            <img class="icon-menu" src="../../../assets/icon/book-information-button.png">
        </ion-tab-button>

        <ion-tab-button tab="yourLocationTab" actions>
            <img class="icon-menu" src="../../../assets/icon/location-mark.png">
        </ion-tab-button>

        <ion-tab-button tab="ReportTab">
            <img class="icon-menu" src="../../../assets/icon/report-service.png">
        </ion-tab-button>

        <ion-tab-button tab="myprofile">
            <img class="icon-menu" src="../../../assets/icon/person-profile.png">
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>