/*ion-card {
    --background: url(../../assets/img/BANGKOK_5490690.jpg) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
}*/

.card {
    margin: 0 auto;
    .header {
        /*height: 200px;*/
        .user-meta {
            .title {
                font-size: 24px;
                font-weight: 600;
                color: #303940;
                line-height: 2.0;
            }
        }
        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;
            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                /*bottom: calc(-1*(80px + 4px));*/
                border: 4px solid #949ea6;
                background-color: #fff;
            }
        }
    }
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    height: calc(70vh - (200px + 56px));
    overflow: hidden;
    .user-meta {
        /*padding-top: 40px;*/
        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
            line-height: 2.0;
        }
        .email {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
            line-height: 2.0;
        }
    }
}

.btnPair {
    --ion-color-contrast: #e0fbfc!important;
}