<app-header-container namePage="My Profile"></app-header-container>
<ion-content>
    <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
        <ion-segment-button value="myprofile" checked>
            <ion-label>My Profile</ion-label>
            <!--ion-icon name="cash"></ion-icon-->
        </ion-segment-button>
        <ion-segment-button value="mydevice">
            <ion-label>My Device</ion-label>
            <!--ion-icon name="log-out"></ion-icon-->
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="type">
        <ion-card *ngSwitchCase="'myprofile'">
            <ion-card-header>
                <!--ion-card-title>My Profile</ion-card-title-->
            </ion-card-header>

            <ion-card-content>
                <div *ngIf="isSignIn">
                    <div class="card">
                        <div class="header">
                            <div class="user-meta ion-text-center">
                                <h3 class="title">My Profile</h3>
                            </div>
                            <div class="avatar">
                                <img src="{{photo}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="user-meta ion-text-center">
                            <h3 class="playername">{{displayname}}</h3>
                            <h5 class="email">{{email}}</h5>
                        </div>
                        <!--ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
            <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
            <ion-button expand="full" color="secondary">View profile at ATP</ion-button-->
                    </div>
                    <ion-footer>
                        <ion-button color="danger" expand="block" shape="round" (click)="logOut()">Sign Out</ion-button>
                    </ion-footer>
                </div>
                <div *ngIf="!isSignIn">
                    <div class="card">
                        <div class="header">
                            <div class="user-meta ion-text-center">
                                <h3 class="title">My Profile</h3>
                            </div>
                            <div class="avatar">
                                <img src="../../assets/img/default.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ion-item lines="full">
                            <ion-label position="floating">Username</ion-label>
                            <ion-input type="text" required [(ngModel)]="username"></ion-input>
                        </ion-item>

                        <ion-item lines="full">
                            <ion-label position="floating">Password</ion-label>
                            <ion-input type="password" required [(ngModel)]="password"></ion-input>
                        </ion-item>

                    </div>
                    <ion-footer>
                        <ion-button class="btnStyle" expand="block" shape="round" (click)="logIn()">Sign In</ion-button>
                    </ion-footer>
                </div>
            </ion-card-content>

        </ion-card>

        <ion-card *ngSwitchCase="'mydevice'">
            <ion-card-header>
                <img [src]="imageUrl" />
                <ion-card-title>{{sensorName}}</ion-card-title>
                <ion-card-subtitle>{{dustVal}}</ion-card-subtitle>
                <ion-card-subtitle>{{address}}</ion-card-subtitle>
                <ion-card-subtitle>{{clientId}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <div *ngIf="listToggle">
                    <ion-button class="btnPair" [color]="isDisconnect ? 'primary' : 'danger'" expand="full" (click)="selectDevice()">{{btn_txt}}&nbsp;
                        <ion-icon name="bluetooth"></ion-icon>
                    </ion-button>
                </div>
            </ion-card-content>
            <ion-footer>
                <ion-button class="btnStyle" expand="block" shape="round" (click)="presentModal()">Add Device</ion-button>
            </ion-footer>
        </ion-card>

    </div>

</ion-content>