/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.my-toast {
    --background: rgb(253, 253, 253);
    --border-color: rgb(253, 253, 253);
    --border-radius: 3px;
    --border-style: solid;
    --border-width: 1px;
    --button-color: rgb(23, 20, 238);
    --color: rgb(2, 2, 2);
}

.remindIcon {
    border-radius: 20vw;
    padding: 3vw;
    color: #e0fbfc;
    font-weight: bold;
    z-index: 9000;
    display: block;
    margin: 0% 0% 7% 30%;
    font-size: 50px;
    &.iconRed {
        background: #ee6c4d;
    }
    &.iconSuccess {
        background: #2a9d8f;
    }
}